# Apollo Config
app:
  # Apollo的AppId(类似ACM中的DataId)
  id: services
apollo:
  # apollo_meta需配置在环境变量中
  meta: ${apollo_meta:http://apolloconfig.dev.wyyt:8640/}
  bootstrap:
    enabled: true
    namespaces: Architecture.spring-cloud-common,application
    eagerLoad:
      enabled: true

server:
  port: 3001

spring:
  servlet:
    multipart:
      max-request-size: 100MB
      max-file-size: 10MB
  application:
    name: c
    group: sample-group
    version: 1.0
    strategy:
      scan:
        # RestController类的扫描路径
        packages: springcloud.service.demo
  cloud:
    consul:
      host: ${consul_host}
      port: ${consul_port}
  zipkin:
    sender:
      type: kafka
  kafka:
    bootstrap-servers: ${zipkin_kafka_servers}