<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="org.hibernate.validator" level="ERROR">
    </logger>
    <logger name="com.nepxion.discovery.plugin.framework.util" level="ERROR">
    </logger>
    <logger name="com.netflix.config.sources" level="ERROR">
    </logger>
    <logger name="springfox.documentation.swagger2.web.Swagger2Controller" level="ERROR">
    </logger>
    <logger name="org.springframework.boot.actuate.endpoint.EndpointId" level="ERROR">
    </logger>
    <logger name="org.springframework.cloud.loadbalancer.config.BlockingLoadBalancerClientAutoConfiguration"
            level="ERROR">
    </logger>
    <logger name="org.springframework.cloud.client.loadbalancer.reactive.ReactorLoadBalancerClientAutoConfiguration"
            level="ERROR">
    </logger>

    <conversionRule conversionWord="clr"
                    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>
                ${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}
            </pattern>
        </encoder>
    </appender>

    <appender name="elkLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>/wyyt/logs/springcloud/services-demo/filebeat.log</file>
        <encoder class="org.wyyt.logback.encoder.LogstashEncoderZipkin">
            <includeCallerData>true</includeCallerData>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/wyyt/logs/springcloud/services-demo/filebeat.%d{yyyy-MM-dd-HH}.%i.log.gz
            </fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <appender name="async_elkLog" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="elkLog"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="async_elkLog"/>
    </root>
</configuration>