<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wyyt.sharding.sqltool.mapper.DbMapper">
    <insert id="insert">
        ${sql}
    </insert>

    <delete id="delete">
        ${sql}
    </delete>

    <update id="update">
		${sql}
    </update>

    <select id="select" resultType="java.util.LinkedHashMap">
		${sql}
	</select>
</mapper>