<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wyyt.springcloud.gateway.entity.mapper.AuthMapper">

    <select id="getApiByClientId" resultType="org.wyyt.springcloud.gateway.entity.entity.Api">
        SELECT `api`.*
        FROM `t_app` `app`
                 INNER JOIN `t_auth` `auth` ON `app`.`id` = `auth`.`app_id`
                 INNER JOIN `t_api` `api` ON `api`.`id` = `auth`.`api_id`
        WHERE `app`.`client_id` = #{clientId}
        ORDER BY `api`.`id`
    </select>

    <select id="page" resultType="org.wyyt.springcloud.gateway.entity.entity.Api">
        SELECT `api`.*
        FROM `t_auth` `auth`
                 INNER JOIN `t_app` `app` ON `auth`.`app_id` = `app`.`id`
                 INNER JOIN `t_api` `api` ON auth.api_id = api.id
        WHERE app.id = #{appId}
        ORDER BY `api`.`id`
    </select>

    <select id="selectNoAuthApis" resultType="org.wyyt.springcloud.gateway.entity.entity.Api">
        SELECT
        DISTINCT
        `api`.*
        FROM `t_api` `api`
        LEFT OUTER JOIN `t_auth` `auth` ON `api`.`id` = `auth`.`api_id`
        LEFT OUTER JOIN `t_app` `app` ON `app`.`id` = `auth`.`app_id`
        WHERE `api`.`id` NOT IN (SELECT `api_id` FROM `t_auth` WHERE `app_id` = #{appId})
        <if test="serviceName!=null and serviceName!=''">
            AND `api`.`service_name` = #{serviceName}
        </if>
        <if test="name!=null and name!=''">
            AND `api`.`name` LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="path!=null and path!=''">
            AND `api`.`path` LIKE CONCAT('%', #{path}, '%')
        </if>
        ORDER BY `api`.`id`
    </select>
</mapper>