<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.springcloud.sms.mapper.MsgMapper">
    <insert id="batchSave">
        <foreach collection="msgList" item="msg" separator=";">
            INSERT IGNORE INTO `t_msg`
            (
            `msg_id`,
            `phone_number`,
            `content`,
            `sign_code`,
            `template_code`,
            `template_param`,
            `provider`,
            `send_ip`,
            `send_time`,
            `receive_time`,
            `send_status`,
            `extra`,
            `err_msg`,
            `row_create_time`
            )
            VALUES
            (
            #{msg.msgId},
            #{msg.phoneNumber},
            #{msg.content},
            #{msg.signCode},
            #{msg.templateCode},
            #{msg.templateParam},
            #{msg.provider},
            #{msg.sendIp},
            #{msg.sendTime},
            #{msg.receiveTime},
            #{msg.sendStatus},
            #{msg.extra},
            #{msg.errMsg},
            #{msg.rowCreateTime}
            )
        </foreach>
    </insert>

    <update id="batchUpdate">
        <foreach collection="msgList" item="msg" separator=";">
            UPDATE `t_msg`
            <set>
                <if test="msg.content != null">
                    `content` = #{msg.content},
                </if>
                <if test="msg.sendTime != null">
                    `send_time` = #{msg.sendTime},
                </if>

                <if test="msg.receiveTime != null">
                    `receive_time` = #{msg.receiveTime},
                </if>

                <if test="msg.sendStatus != null">
                    `send_status` = #{msg.sendStatus},
                </if>

                `err_msg` = #{msg.errMsg}
            </set>
            WHERE `id` = #{msg.id}
        </foreach>
    </update>
</mapper>