<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.springcloud.sms.mapper.PendingMsgAliMapper">
    <insert id="batchSave">
        <foreach collection="msgList" item="msg" separator=";">
            INSERT IGNORE INTO `t_pending_msg_ali`
            (
            `msg_id`,
            `phone_number`,
            `row_create_time`
            )
            VALUES
            (
            #{msg.msgId},
            #{msg.phoneNumber},
            #{msg.rowCreateTime}
            )
        </foreach>
    </insert>

    <delete id="deleteByMsgIds">
        DELETE FROM `t_pending_msg_ali` WHERE `msg_id` IN
        <foreach collection="msgIdList" item="msgId" open="(" close=")" separator=",">
            #{msgId}
        </foreach>
    </delete>
</mapper>